# virtualenv
env
venv

# compilables
__pycache__

# environment variables
.env

# data
kaggle/
images/
*.zip
*.weights.h5
*.pth
*.h5
*.csv

# archived
# _archive/
/data/raw/
/data/kpts/
/data/kpts_flat/
/temp/*
/runs/*
/outputs/*

# libraries
/MANO/